In [3]:
from datasets import load_dataset

dataset =  load_dataset('sst')

No config specified, defaulting to: sst/default
Reusing dataset sst (C:\Users\Julien\.cache\huggingface\datasets\sst\default\1.0.0\b8a7889ef01c5d3ae8c379b84cc4080f8aad3ac2bc538701cbe0ac6416fb76ff)

  0%|          | 0/3 [00:00<?, ?it/s]

In [5]:
import pandas as pd

train = pd.DataFrame({"sentence" : dataset['train']["sentence"], "label" : dataset['train']["label"]})
train = train.assign(label=pd.cut(train['label'], 
                               bins=[-0.01, 0.2, 0.4, 0.6,0.8, 1.1], 
                               labels=[1, 2, 3, 4, 5]))

val = pd.DataFrame({"sentence" : dataset['validation']["sentence"], "label" : dataset['validation']["label"]})
val = val.assign(label=pd.cut(val['label'], 
                               bins=[-0.01, 0.2, 0.4, 0.6,0.8, 1.1], 
                               labels=[1, 2, 3, 4, 5]))

test = pd.DataFrame({"sentence" : dataset['test']["sentence"], "label" : dataset['test']["label"]})
test = test.assign(label=pd.cut(test['label'], 
                               bins=[-0.01, 0.2, 0.4, 0.6,0.8, 1.1], 
                               labels=[1, 2, 3, 4, 5]))

In [6]:
train

                                               sentence label
0     The Rock is destined to be the 21st Century 's...     4
1     The gorgeously elaborate continuation of `` Th...     5
2     Singer\/composer Bryan Adams contributes a sle...     4
3     You 'd think by now America would have had eno...     3
4                  Yet the act is still charming here .     4
...                                                 ...   ...
8539                                    A real snooze .     1
8540                                     No surprises .     2
8541  We 've seen the hippie-turned-yuppie plot befo...     4
8542  Her fans walked out muttering words like `` ho...     1
8543                                In this case zero .     2

[8544 rows x 2 columns]

In [7]:
val

                                               sentence label
0     It 's a lovely film with lovely performances b...     4
1     No one goes unindicted here , which is probabl...     3
2     And if you 're not nearly moved to tears by a ...     4
3                      A warm , funny , engaging film .     5
4     Uses sharp humor and insight into human nature...     5
...                                                 ...   ...
1096  it seems to me the film is about the art of ri...     2
1097  It 's just disappointingly superficial -- a mo...     2
1098  The title not only describes its main characte...     2
1099  Sometimes it feels as if it might have been ma...     3
1100  Schaeffer has to find some hook on which to ha...     2

[1101 rows x 2 columns]

In [8]:
test

                                               sentence label
0                        Effective but too-tepid biopic     3
1     If you sometimes like to go to the movies to h...     4
2     Emerges as something rare , an issue movie tha...     5
3     The film provides some great insight into the ...     3
4     Offers that rare combination of entertainment ...     5
...                                                 ...   ...
2205                  An imaginative comedy\/thriller .     4
2206                      ( A ) rare , beautiful film .     5
2207                 ( An ) hilarious romantic comedy .     5
2208                Never ( sinks ) into exploitation .     4
2209                        ( U ) nrelentingly stupid .     1

[2210 rows x 2 columns]

In [11]:
train.to_csv('sst5/train_sst5.csv', index=False)
val.to_csv('sst5/val_sst5.csv', index=False)
test.to_csv('sst5/test_sst5.csv', index=False)

### try to load

In [13]:
dataset_csv = load_dataset('csv', data_files={'train': 'sst5/train_sst5.csv', 'val' : 'sst5/val_sst5.csv', 'test': 'sst5/test_sst5.csv'})

Using custom data configuration default-1ff106263a16200b

Downloading and preparing dataset csv/default to C:\Users\Julien\.cache\huggingface\datasets\csv\default-1ff106263a16200b\0.0.0\9144e0a4e8435090117cea53e6c7537173ef2304525df4a077c435d8ee7828ff...

  0%|          | 0/3 [00:00<?, ?it/s]

  0%|          | 0/3 [00:00<?, ?it/s]

0 tables [00:00, ? tables/s]

0 tables [00:00, ? tables/s]

0 tables [00:00, ? tables/s]

Dataset csv downloaded and prepared to C:\Users\Julien\.cache\huggingface\datasets\csv\default-1ff106263a16200b\0.0.0\9144e0a4e8435090117cea53e6c7537173ef2304525df4a077c435d8ee7828ff. Subsequent calls will reuse this data.

  0%|          | 0/3 [00:00<?, ?it/s]

In [14]:
dataset_csv

DatasetDict({
    train: Dataset({
        features: ['sentence', 'label'],
        num_rows: 8544
    })
    val: Dataset({
        features: ['sentence', 'label'],
        num_rows: 1101
    })
    test: Dataset({
        features: ['sentence', 'label'],
        num_rows: 2210
    })
})