In [4]:
from datasets import load_dataset

dataset = load_dataset('imdb')

Reusing dataset imdb (C:\Users\AR88750\.cache\huggingface\datasets\imdb\plain_text\1.0.0\e3c66f1788a67a89c7058d97ff62b6c30531e05b549de56d3ab91891f0561f9a)

  0%|          | 0/3 [00:00<?, ?it/s]

In [5]:
dataset

DatasetDict({
    train: Dataset({
        features: ['text', 'label'],
        num_rows: 25000
    })
    test: Dataset({
        features: ['text', 'label'],
        num_rows: 25000
    })
    unsupervised: Dataset({
        features: ['text', 'label'],
        num_rows: 12817
    })
})

In [6]:
import pandas as pd 
train = pd.DataFrame({"text" : dataset['train']["text"], "label" : dataset['train']["label"]})
train

                                                    text  label
0      Bromwell High is a cartoon comedy. It ran at t...      1
1      Homelessness (or Houselessness as George Carli...      1
2      Brilliant over-acting by Lesley Ann Warren. Be...      1
3      This is easily the most underrated film inn th...      1
4      This is not the typical Mel Brooks film. It wa...      1
...                                                  ...    ...
24995  Towards the end of the movie, I felt it was to...      0
24996  This is the kind of movie that my enemies cont...      0
24997  I saw 'Descent' last night at the Stockholm Fi...      0
24998  Some films that you pick up for a pound turn o...      0
24999  This is one of the dumbest films, I've ever se...      0

[25000 rows x 2 columns]

In [ ]:
train.label.value_counts()

In [7]:
test = pd.DataFrame({"text" : dataset['test']["text"], "label" : dataset['test']["label"]})
test

                                                    text  label
0      I went and saw this movie last night after bei...      1
1      Actor turned director Bill Paxton follows up h...      1
2      As a recreational golfer with some knowledge o...      1
3      I saw this film in a sneak preview, and it is ...      1
4      Bill Paxton has taken the true story of the 19...      1
...                                                  ...    ...
24995  I occasionally let my kids watch this garbage ...      0
24996  When all we have anymore is pretty much realit...      0
24997  The basic genre is a thriller intercut with an...      0
24998  Four things intrigued me as to this film - fir...      0
24999  David Bryce's comments nearby are exceptionall...      0

[25000 rows x 2 columns]

In [8]:
test.label.value_counts()

1    12500
0    12500
Name: label, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

train, val = train_test_split(train, test_size=0.2, random_state=42, stratify = train.label)

In [11]:
train

                                                    text  label
7522   Many reviews I've read reveals that most peopl...      1
17493  The effect achieved in this story about a psyc...      0
12260  I really enjoyed the performances of the main ...      1
1275   'Midnight Cowboy' was rated X with the origina...      1
8004   As the maker of "This Darkness," I admit we ne...      1
...                                                  ...    ...
10080  An overlong, but compelling retelling of the f...      1
7973   Stephen King movies are a funny thing with me....      1
22968  A cannibalistic backwoods killer is on the pro...      0
17663  It seems that the intention of the film was to...      0
10894  This movie is plain fun.I has nothing to do wi...      1

[20000 rows x 2 columns]

In [12]:
val

                                                    text  label
3126   Chloe is mysteriously saved from Dr. Caselli, ...      1
6278   The star of this film is the screenplay. Atten...      1
21427  In the questionable comedy vein of Mel Brooks,...      0
16498  There was a great film to be made about Steve ...      0
2787   I just saw the movie on tv. I really enjoyed i...      1
...                                                  ...    ...
2672   Caught this film in about 1990 on video by cha...      1
20487  This is quite possibly the worst film I have e...      0
22776  The original book of this was set in the 1950s...      0
6837   Charming in every way, this film is perfect if...      1
2853   I felt compelled to write a review for Space C...      1

[5000 rows x 2 columns]

In [13]:
print(test.label.value_counts())
print(val.label.value_counts())

1    12500
0    12500
Name: label, dtype: int64
1    2500
0    2500
Name: label, dtype: int64

In [15]:
train.to_csv('imdb_extracted/train_imdb.csv', index=False)
val.to_csv('imdb_extracted/val_imdb.csv', index=False)
test.to_csv('imdb_extracted/test_imdb.csv', index=False)

In [16]:
int(train['text'].str.len().max())

10363

In [18]:
train['text'].str.len()

7522     2657
17493    1147
12260     650
1275     1134
8004      747
         ...
10080     634
7973     1470
22968     634
17663     725
10894     477
Name: text, Length: 20000, dtype: int64

In [20]:
len(train.text[0])

806

In [21]:
train.text[0]

'Bromwell High is a cartoon comedy. It ran at the same time as some other programs about school life, such as "Teachers". My 35 years in the teaching profession lead me to believe that Bromwell High\'s satire is much closer to reality than is "Teachers". The scramble to survive financially, the insightful students who can see right through their pathetic teachers\' pomp, the pettiness of the whole situation, all remind me of the schools I knew and their students. When I saw the episode in which a student repeatedly tried to burn down the school, I immediately recalled ......... at .......... High. A classic line: INSPECTOR: I\'m here to sack one of your teachers. STUDENT: Welcome to Bromwell High. I expect that many adults of my age think that Bromwell High is far fetched. What a pity that it isn\'t!'